// ServerInterface represents all server handlers.
type ServerInterface interface {
{{- $typesPackage := .TypesPackage | getPackageNameFromPath }}
{{range .Operations}}{{.SummaryAsComment }}
// ({{.Method}} {{.Path}})
{{.OperationId}}(ctx *fiber.Ctx{{genParamArgs .PathParams $typesPackage}}{{if .RequiresParamObject}}, params {{appendPackagePrefix .OperationId $typesPackage}}Params{{end}}) error
{{end}}
}
